{% block content %}
    <H2>{{ data.race }} {{ data.class }}</H2>
    <div><p>abilities: {{ ', '.join(data.abilities) }}</p></div>

    <h3>icons</h3>
    {% for icon in data.icons %}
    <div><p>{{ icon[0] }}: {{ icon[1] }}</p></div>
    {% endfor %}

    <h3>possible backgrounds</h3>
    {% for background in data.backgrounds %}
    <div><p>{{ background }}</p></div>
    {% endfor %}    

    <h3>as json</h3>
    <div><p>{{ as_json }}</p></div>

    <div><a href="/generate/raw">api (will load new char)</a></div>
{% endblock %}
